.box{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left:10%;
    padding-top:2%; 
    border-radius:18px; 
    border:4px solid black;
    background-color:bisque; 
}

img{
    max-width:50%;
    max-height:40vmin; 
}

h1{
    text-align:center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color:burlywood;
}